<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.updatedseatingsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/rounded_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Manager.Manager_View"></activity>
        <activity android:name=".Manager.Manager" />
        <activity
            android:name=".Manager.Edit_employee"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Manager.Fill_emp_details"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Admin.Add_Project"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Admin.Add_Manager"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin.Edit_Project"
            android:label="@string/title_activity_edit__project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.EditManagers"
            android:label="@string/title_activity_edit_managers"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Admin.View_Employees" />
        <activity android:name=".Admin.Admin" />

        <activity android:name=".MainActivity" >

        </activity>
    </application>

</manifest>